<?xml version="1.0"?>
<launch>
	<arg name="robot_ns" default="/" />
	
	<!-- Run sync -->
  <include file="$(find evapc_start)/launch/sync.launch" />
	
	<!-- Run Lidar sensor -->
	<group ns="$(arg robot_ns)">    
		<include file="$(find evapc_start)/launch/lidar.launch">
			<arg name="robot_ns" value="$(arg robot_ns)" />
		</include>
		
		<!-- Run Kinect sensor -->
		<include file="$(find openni2_launch)/launch/openni2.launch">
			<!-- <arg name="depth_frame_id" value="$(arg robot_ns)/kinect_dummy" /> -->
			<arg name="depth_frame_id" value="kinect_dummy" />
		</include>
	</group>
</launch>
