<?xml version="1.0"?>
<launch>
	<arg name="robot_ns" default="/" />

	<!-- Run multimaster_fkie -->
  <include file="$(find master_discovery_fkie)/launch/master_discovery.launch" />
  <include file="$(find master_sync_fkie)/launch/master_sync.launch" />

	<group ns="$(arg robot_ns)">
		<!-- Run Lidar sensor -->
		<include file="$(find evapc_start)/launch/lidar.launch">
			<arg name="robot_ns" value="$(arg robot_ns)" />
		</include>
 </group>
</launch>
