<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <!-- Run multimaster_fkie -->
  <include file="$(find master_discovery_fkie)/launch/master_discovery.launch" />
  <include file="$(find master_sync_fkie)/launch/master_sync.launch" />

  <!-- Run state publisher -->
  <include file="$(find evarobot_state_publisher)/launch/robot_state.launch" />

  <!-- Run robot pose ekf -->
  <include file="$(find evarobot_pose_ekf)/launch/evarobot_pose_ekf.launch" />

  <!-- Run lidar -->
  <!-- Comment if using pc onboard evarobot -->
<!--  <include file="$(find evapc_start)/launch/lidar.launch" /> -->

  <!-- Run move_base -->
  <include file="$(find evarobot_navigation)/launch/move_base_real.launch" />
  
  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find evarobot_navigation)/rviz/real_move.rviz" />

  <!-- Run diagnostics -->
  <include file="$(find evarobot_diagnostics)/launch/aggregator.launch" />

</launch>
