<?xml version="1.0"?>

<launch>
  <master auto="start"/>

	<!-- Run sync -->
  <include file="$(find evapc_start)/launch/sync.launch" />

  <!-- Run state publisher -->
  <include file="$(find evarobot_state_publisher)/launch/robot_state.launch" /> 

  <!-- Run robot pose ekf -->
  <include file="$(find evarobot_pose_ekf)/launch/evarobot_pose_ekf.launch" /> 

  <!-- Run lidar -->
  <include file="$(find evapc_start)/launch/lidar.launch" />

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find evarobot_navigation)/map/map.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find evarobot_navigation)/launch/amcl_diff.launch" /> 
 
  <!-- Run move_base -->
  <include file="$(find evarobot_navigation)/launch/move_base_real.launch" />
  
  <!-- Run diagnostics -->
  <include file="$(find evarobot_diagnostics)/launch/aggregator.launch" />

</launch>
