<?xml version="1.0"?>

<launch>

  <!-- Run Gazebo -->
  <arg name="world_path" default="worlds/empty.world"/>
  <include file="$(find evarobot_gazebo)/launch/evarobot.launch">
	<arg name="world_path" value="$(arg world_path)"/>
  </include>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find evarobot_slam)/gazebo_map/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find evarobot_navigation)/launch/amcl_diff.launch" />

  <!--- Run Move Base -->
  <include file="$(find evarobot_navigation)/launch/move_base_sim.launch" />
  
  <!-- Run rviz -->
  <include file="$(find evarobot_viz)/launch/view_evarobot.launch" />
</launch>
