<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eva_base">

	<xacro:macro name="evarobot_base" params="prefix mesh_x mesh_y mesh_z mesh_roll mesh_pitch mesh_yaw box_x box_y box_z">
		<link name="${prefix}_link">
		
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<!--<origin xyz="${mesh_x} ${mesh_y} ${mesh_z}" rpy="${mesh_roll} ${mesh_pitch} ${mesh_yaw}" /> -->
				
				
				<geometry>
<!--					<mesh filename="package://evarobot_description/meshes/eva50.stl" scale="0.01 0.01 0.01"/>   -->
				<box size="${box_x} ${box_y} ${box_z}"/> 
				</geometry>
			</collision>
			
			<visual>
				<origin xyz="${mesh_x} ${mesh_y} ${mesh_z}" rpy="${mesh_roll} ${mesh_pitch} ${mesh_yaw}" /> 
				
				<geometry>
				<!-- <box size="${box_x} ${box_y} ${box_z}"/> -->
					<mesh filename="package://evarobot_description/meshes/eva50.stl" scale="0.01 0.01 0.01"/>  
				</geometry>
				
				<material name="red">
					<color rgba="0.4 0.7 .8 1"/>
				</material>
			</visual>

			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="15"/>
				<inertia
					ixx="0.875" ixy="0.155" ixz="0.143"
					iyy="0.155" iyz="0.143"
					izz="0.143"/>
			</inertial>
		
		</link>	 
	</xacro:macro>
</robot>
