<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
	<xacro:macro name="evarobot_base_c" params="prefix mesh_x mesh_y mesh_z mesh_roll mesh_pitch mesh_yaw box_x box_y box_z">
    <link name="orange_link">
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					 <box size="0.0001 0.0001 0.0001"/>  
				</geometry>
			</collision>
			
			<visual>
				<origin xyz="${mesh_x} ${mesh_y} ${mesh_z}" rpy="${mesh_roll} ${mesh_pitch} ${mesh_yaw}" /> 
				<geometry>
					<mesh filename="package://evarobot_description/meshes/base_orange.stl" scale="1 1 1"/> 
				</geometry>
				<material name="Orange"/>
			</visual>
			
			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.001"/>
				<inertia
					ixx="1e-6" ixy="0.0" ixz="0.0"
					iyy="1e-6" iyz="0.0"
					izz="1e-6"/>
			</inertial>
				
		</link>
		
		

		
		<joint name="orange_joint" type="fixed">
			<parent link="base_link"/>
			<child link="orange_link"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<axis xyz="0 0 0"/>
		</joint>		  
		
		
	</xacro:macro>
</robot>
