<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	  	
	<xacro:macro name="evarobot_kinect" 
	params="prefix
			joint_x joint_y joint_z joint_roll joint_pitch joint_yaw
			parent_link
			base_line update_rate
			camera_name
			"> 
		
    <joint name="camera_rgb_joint" type="fixed">
			<origin xyz="0.0 -0.02 0.0" rpy="0.0 0.0 0.0"/>
			<parent link="camera_link"/>
      <child link="camera_rgb_frame" />
    </joint>
    <link name="camera_rgb_frame"/>

    <joint name="camera_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
      <parent link="camera_rgb_frame" />
      <child link="camera_rgb_optical_frame" />
    </joint>
    <link name="camera_rgb_optical_frame"/>

    <joint name="camera_joint" type="fixed">
			<origin xyz="${joint_x} ${joint_y} ${joint_z}" rpy="${joint_roll} ${joint_pitch} ${joint_yaw}"/>
      <parent link="${parent_link}"/>
      <child link="camera_link"/>
    </joint>
    
    <link name="camera_link">
      <visual>
        <origin xyz="0.0 0.0 0.004" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://evarobot_description/meshes/xtion_pro_camera.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
        <box size="0.0730 0.2760 0.0720"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.170" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001152600" ixy="0.0" ixz="0.0"
                 iyy="0.000148934" iyz="0.0"
                 izz="0.001154654" />
      </inertial>
    </link>

    <joint name="camera_depth_joint" type="fixed">
      <origin xyz="0 -0.045 0" rpy="0 0 0" />
      <parent link="camera_link" />
      <child link="camera_depth_frame" />
    </joint>
    <link name="camera_depth_frame"/>

    <joint name="camera_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
      <parent link="camera_depth_frame" />
      <child link="camera_depth_optical_frame" />
    </joint>
    <link name="camera_depth_optical_frame"/>
 
    <!-- Asus mount -->
    <joint name="mount_asus_xtion_pro_joint" type="fixed">
			<origin xyz="${0.17 -16.5/1000 + 0.015} -0.0050 ${0.21 - 18.7/1000 -35/1000}" rpy="${pi/2} 0 ${-pi/2}"/>
      <parent link="base_link"/>
      <child link="mount_asus_xtion_pro_link"/>
    </joint>  
    <link name="mount_asus_xtion_pro_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://evarobot_description/meshes/asus_base.stl"/>
        </geometry>
        <material name="Black"/>
      </visual>  
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
        <box size="0.2760 0.0330 0.0120"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.170" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001152600" ixy="0.0" ixz="0.0"
                 iyy="0.000148934" iyz="0.0"
                 izz="0.001154654" />
      </inertial>
    </link>

		<gazebo reference="mount_asus_xtion_pro_link">
			<material>Gazebo/Black</material>
		</gazebo>
		
		<gazebo reference="camera_link">  
      <sensor type="depth" name="camera">
        <always_on>true</always_on>
        <update_rate>20.0</update_rate>
        <camera>
          <horizontal_fov>${60.0*pi/180.0}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>8.0</far>
          </clip>
        </camera>
        <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
          <cameraName>camera</cameraName>
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <pointCloudTopicName>depth/points</pointCloudTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <frameName>camera_depth_optical_frame</frameName>
          <baseline>0.1</baseline>
					<pointCloudCutoff>0.4</pointCloudCutoff>
					<distortionK1>0.00000001</distortionK1>
					<distortionK2>0.00000001</distortionK2>
					<distortionK3>0.00000001</distortionK3>
					<distortionT1>0.00000001</distortionT1>
					<distortionT2>0.00000001</distortionT2>
					<CxPrime>0</CxPrime>
					<Cx>0</Cx>
					<Cy>0</Cy>
					<focalLength>0</focalLength>
					<hackBaseline>0</hackBaseline>
        </plugin>
      </sensor>
    </gazebo>
    
	</xacro:macro>
</robot>
