<launch>

  <!-- Run multimaster_fkie -->
  <include file="$(find master_discovery_fkie)/launch/master_discovery.launch" />
  <include file="$(find master_sync_fkie)/launch/master_sync.launch" />

  
  <!-- Run state publisher -->
  <include file="$(find evarobot_state_publisher)/launch/robot_state.launch" />
  
  <!-- Run rplidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  
  <!-- Run Kinect -->
<!--  <include file="$(find openni_launch)/launch/openni.launch" /> -->
  
  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find evarobot_slam)/rviz/demo1.rviz" />
  
</launch>

