<launch>

	<!-- Run sync -->
  <include file="$(find evapc_start)/launch/sync.launch" />

  
  <!-- Run state publisher -->
  <include file="$(find evarobot_state_publisher)/launch/robot_state.launch" /> 
  
  <!-- Run rplidar -->
<!--  <include file="$(find rplidar_ros)/launch/rplidar.launch" /> -->
  
  <!-- Run Kinect -->
<!--  <include file="$(find openni_launch)/launch/openni.launch">
	<arg name="depth_frame_id" value="kinect_dummy" />
  </include>
-->  
  <!-- Run rviz -->
  <include file="$(find evarobot_viz)/launch/view_evarobot.launch" />
  
</launch>

