
<launch>

  <!-- Run multimaster_fkie -->
  <include file="$(find master_discovery_fkie)/launch/master_discovery.launch" />
  <include file="$(find master_sync_fkie)/launch/master_sync.launch" />

  <!-- Run state publisher -->
  <include file="$(find evarobot_state_publisher)/launch/robot_state.launch" />


  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find rplidar_ros)/launch/hectormapping.launch">
    <arg name="depth_frame_id" value="sensor/kinect_link"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find evarobot_slam)/rviz/slam.rviz" />


</launch>

