<?xml version="1.0"?>

<launch>
	<arg name="robot_ns" default="/" />
	<group ns="$(arg robot_ns)">    
		<include file="$(find evarobot_slam)/launch/hector_mapping.launch">
			<arg name="robot_ns" value="$(arg robot_ns)" />
		</include>
	</group>
	
<!--	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/> -->
</launch>
