<launch>
    <arg name="robot_ns" default="/" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="state_publisher" />
 <!--   <node pkg="evarobot_state_publisher" name="odom_to_base" ns="$(arg robot_ns)" type="odom_to_base" /> -->
  
    <param name="robot_description" command="$(find xacro)/xacro.py $(find evarobot_description)/urdf/evarobot.urdf.xacro" />
    <param name="publish_frequency" type="double" value="10.0" /> 
    <param name="tf_prefix" type="string" value="$(arg robot_ns)" />  
<!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.09 0 0.4275  1.5708 0 0 base_link sensor/lidar_link 100" />  -->

		<node name="joint_state_publisher" pkg="joint_state_publisher"
			type="joint_state_publisher" >
			<param name="use_gui" type="bool" value="false" />
			<param name="robot_description" command="$(find xacro)/xacro.py $(find evarobot_description)/urdf/evarobot.urdf.xacro" />	
		</node>	
		
		
</launch>
